
form.form_buscador {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.container_estancias {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 0;
}

.buscador {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border: 4px solid #ffb700;
    border-radius: 5px;
    background-color: #ffb700;
}

.item_busqueda {
    margin-right: 4px;
    align-items: center;
}

.item_busqueda, .item_boton_buscar {
    display: flex;
    border-radius: 5px;
    background-color: white;
    color: black;
    justify-content: center;
}

.item_busqueda:first-child {
    flex: 4;
}

.item_busqueda:nth-child(2) {
    flex: 2;
}

.item_busqueda:nth-child(3) {
    flex: 3;
}

form .item_busqueda:last-child {
    display: block;
}

.item_boton_buscar {
    display: flex;
    flex: 1;    
}

.item_busqueda input[type="text"] {
    width: 80%;
}

.item_busqueda input {
    height: 50px;
    width: 80%;
    border-style: none;
}

.boton_buscar {
    background-color: #006ce4;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.buscador svg {
    fill: grey;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 10px;
}

#icono_persona svg {
    fill: grey;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 10px;
}

.buscador ::placeholder {
    color: #1a1a1a;
}

button.boton_buscar:hover {
    background-color: #003c95cf;
}

section.filtros {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.filtros > * {
    align-self: center;
}
